.Header{
    background-color: white;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }

  .HeaderContent{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    object-fit: contain
  }