.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.HeaderLogo{
    height: 100px;
    object-fit: contain;
}

.HeaderCenter{
    display: flex;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px;
    border-radius: 50px;
    max-width: fit-content;
    align-items: center;
}

.HeaderCenter > input{
    border: none;
    outline: none;
    width: 250px;
}

.HeaderRight{
    display: flex;
    align-items: center;
    width: 18vw;
    justify-content: space-between;
}